.imageContainer,.Bottom{
width: 100%;
 display: flex;
 padding: 10px 20px;
 align-items: center;
 justify-content: space-between;
 
}

.Bottom{
    align-items: flex-start;
}

.imageContainer img {
    width: 32%;
    aspect-ratio: 1/1;
    object-fit:cover;
    border-radius: 10px;

}

.mainContainer{
text-align: justify;
padding: 10px 20px;

}


.submitContainer{
    width: 48%;
    height: 400px;
    overflow-y: auto;
    list-style-type: none;
}

@media (max-width: 1024px) {
    .submitContainer{
        height: 680px;
    }
}

.form{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:space-between;
    
}

.right{
    width: 48%;
}